/* 전반적인 스타일링 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* 프로젝트 섹션 스타일링 */
.project {
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 다른 섹션들의 스타일링 */

/* 푸터 스타일링 */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* 미디어 쿼리를 사용한 반응형 디자인 추가 가능 */
